.title {
  display: flex;
  align-items: center;

  p {
    padding-left: 1rem;
    color: #F8F8F8;
    font-weight: 600;
    font-size: 2rem;

    span {
      color: #FF57B2;
    }
  }

  img {
    padding-top: 0.5rem;
  }
}
